*{
    margin: 0;
    padding: 0;

}


.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url('https://wallpapercave.com/wp/wp2639566.jpg');
    background-size: cover;
    height: 109vh;

}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    padding-bottom: 100px;

}

.icon{
    width:200px;
    float: left;
    height:70px;

}

.logo{
    color: grey;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    padding-top:10px;
}


.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}

ul li a:hover{
    color: grey;
}

.search{
    width: 300px;
    float: left;
    margin-left: 270px;

}

.s{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(47, 7, 47);
    margin-top: 13px;
    color:white;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.button{
    width: 100px;
    height: 40px;
    background: linear-gradient(to top, grey 25%, black 75%);
    margin-top: 13px;
    color: grey;
    font-size: 15px;
    border-bottom-right-radius:5px ;
    border-bottom-left-radius: 5px ;


}

.button:focus{
    outline: none;
}

.button:hover{
    color: dark grey;
}
.s:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 5px;
    margin-top: 9%;
    letter-spacing: 2px;
    color: grey;
    font-weight: bold;
}

.paragraph{
    color: grey;
    font: italic;
    font-size: 20px;
    

    
}




.head{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    background-color: black;
    opacity: 80%;
    border-color: grey;
    
}

.head input{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    border-color: grey;
    border-radius: 15px;
    border-width: 15px;
}

.head ::placeholder{
    color: grey;
    padding-left: 35px;
    font-family: 'Times New Roman';
}





.creation{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    opacity: 80%;
    padding-bottom: 15px;
}

.creation ::placeholder{
    color:grey;
    font-size: bold;
   
    
}

.creation input{
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: black;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-width: 10px;
    
}



.submit{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: black;
    opacity: 80%;
    padding-bottom: 15px;
    
}


.submit button{
background-color: black;
color: white;
font-size: 14px;
font-family: 'Times New Roman';
padding-bottom:10px;
padding-top: 10px;
padding-right: 15px;
padding-left: 10px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
border-width: 15px;
border-color: grey;

}


.contents{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    align-items: center;
    font: bold;
    padding-top: 45px;
    padding-bottom: 35px;
}

.refresh{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    
}
.refresh button{
    background-color: black;
    color: white ;
    border-width: 15px;
    font-size: 18px;
    border-radius: 15px;
    border-color: grey;
    opacity: 85%;
}